html, body
  width 100%
  height 100%
  background-color: #e1e1e1;
  font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;

.clearfix
  &::after
    content: ''
    display: block
    visibility: hidden
    height: 0
    line-height: 0
    clear: both

.wrapper
  width 90%
  margin 0 auto

.panel
  font-size 13px
  margin-bottom 13px
  >.header
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
  >.inner
    padding: 10px;
    line-height 2em
    background-color: #fff;
    &:last-child
      border-radius: 0 0 3px 3px;
    a
      color: #778087;
  >.footer
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 0 0 3px 3px;

label
  display block
  margin-bottom .5em
  font-size 14px
  font-weight 600
input,button,textarea,select
  display inline-block
  width 100%
  box-sizing border-box
  padding .5em 1em
  margin-bottom .5em
  border-radius 2px
  border 1px solid #dfdfdf
  color #2e2e2e
  font-size 14px
  outline-color #80bd01
  background-color #fff
input,button
  height 2.5em
button
  color #fff
  font-weight 600
  background-color #80bd01
  cursor pointer
  &:hover
    background-color lighten(#80bd01,10%)